* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  background-image: url("images/wallpaperbg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed; /* Fix the background image */
  font-family: Arial, sans-serif;
  height: 100%;
  margin: 0; /* Remove the default margin */
  padding: 0; /* Remove the default padding */
}


.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Header styles */
header {
  background-color: grey;
  padding: 10px;
  border-bottom: 1px solid #fff; /* Add a bottom border */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: space-between; /* Align items horizontally */
}


header nav ul {
  list-style: none;
  display: flex;
  align-items: center;
}

header nav ul li {
  margin-left: 10px; /* Adjust the margin to create space between the navigation items */
}

/* Add right margin to the last navigation item */
header nav ul li:last-child {
  margin-right: 10px;
}

header nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  padding: 10px;
  transition: color 0.3s ease;
}

header nav ul li a:hover {
  color: #e6b317;
}

nav input[type="checkbox"] {
  display: none;
}

.menu-icon {
  display: none;
  cursor: pointer;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

nav ul li {
  margin-left: 15px;
}

/* Show/hide menu on mobile devices */
@media screen and (max-width: 768px) {
  .menu-icon {
    display: block;
    font-size: 20px;
    margin-right: 15px;
  }

  nav ul {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #000;
    padding: 10px;
    z-index: 99;
  }

  nav ul li {
    margin-left: 0;
    margin-bottom: 10px;
  }

  input[type="checkbox"]:checked + .menu-icon + ul {
    display: flex;
  }
}

#social-links {
  display: flex;
  align-items: center;
  margin-right: 10px; /* Adjust the margin to create space between the buttons and navigation items */
}

#social-links a {
  margin-left: 10px;
}
/* Home section */
#home {
  text-align: center;
  padding: 100px 0;
}

#home h1 {
  font-size: 48px;
  color: #333;
  margin-bottom: 20px;
}

#home h2 {
  font-size: 24px;
  color: #666;
  margin-bottom: 40px;
}

/* Header styles */
header.scrolled {
  background-color: #000;
}
/* About section */
#about {
  text-align: center;
  padding: 100px 0;
}

#about h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

#about h2 {
  font-size: 24px;
  margin-bottom: 40px;
}

#game-description,
#gameplay {
  margin-top: 40px;
}

#game-description ul,
#gameplay ul {
  text-align: left;
  list-style-type: disc;
  margin-left: 20px;
}

/* Gallery section */
#AboutDev {
  text-align: center;
  padding: 100px 0;
}

#AboutDev h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

#screenshot-showcase {
  margin-top: 40px;
}

#screenshot-showcase img {
  max-width: 100%;
  height: auto;
}

#screenshot-showcase p {
  margin-top: 20px;
}

/* Footer */
footer {
  background-color: #000;
  color: #fff;
  padding: 20px;
  text-align: center;
}

footer p {
  margin-bottom: 10px;
}

footer a {
  color: #e6b317;
  text-decoration: none;
}
